**/tmp
**/old

# Latex
**/*.aux
**/*.log
**/*.nav
**/*.out
**/*.snm
**/*.vrb
**/*.synctex.gz
**/*.synctex.gz(busy)
**/*.toc
**/*-blx.bib
**/*.run.xml


# Java / Scala
**/*.class

# Sbt

**/target

# Editor swap files
*.swp   # vim
*~      # emacs

.idea
